# temporary files
**/temp/

# files I'm not sure if I will upload
#master/obs_data.txt
#master_test/test_obs_data.txt

# transition files
**/transition_from_chelsvig/

# log files
**/probpy.log

# cache/checkpoint files
**/__pycache__/
**/.ipynb_checkpoints/

# dask
**/dask-worker-space/

# files that are only temporary right now
src/simulation_procedure.ipynb
src/pyabc_construct.ipynb