# temporary files
**/temp/

# files I'm not sure if I will upload
#master/obs_data.txt
#master_test/test_obs_data.txt
#jupyter_notebooks/check_on_old_run.ipynb
#jupyter_notebooks/simulation_procedure.ipynb
jupyter_notebooks/debug_simpro.ipynb
jupyter_notebooks/pyabc_quickstart_NSE.ipynb

# web references
references/

# transition files
**/transition_from_chelsvig/

# log files
**/probpy.log
**/pyabc.log
# nse log files
src/*.txt

# cache/checkpoint files
**/__pycache__/
**/.ipynb_checkpoints/

# dask
**/dask-worker-space/

# files that are only temporary right now
src/*.ipynb
jupyter_notebooks/*.py
!jupyter_notebooks/jn_setup.py
src/model_unit_tests.py
src/cmd_line_prefix.py
src/test_cmd_line.py

